body {
    background-color: gray;
    font-size: 25px;
}
#nazwa {
    color: yellowgreen;
    font-size: 30px;
    text-align: center;
    background-color: darkslategrey;
    padding-top: 5px;
}
#polski {
    width: 500px;
    height: 400px;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-top: 100px;
    color: indigo;
}
#ruski {
    width: 500px;
    height: 500px;
    float: right;
    text-align: center;
    padding-top: 100px;
    color: indigo;
}
#polak {
    font-size: 50px;
    float: left;
    margin-left: 60px;
    color: darkorange;
    background-color: darkslategray;
}
#rusek {
    font-size: 50px;
    float: right;
    margin-right: 60px;
    color: darkorange;
    background-color: darkslategray;
}
#rr {
    font-size: 25px;
    color: brown;
    background-color: burlywood;
}